h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Taskbar {
    display: flex;
    background-color: teal  ;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.box {
    display: flex;
    background-color: teal;
}

.box2 {
    display: flex;
    background-color: aqua ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Inhold {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
