h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-right: 300px;
    margin-bottom: -200px;
    margin-left: 260px;
}

.Taskbar {
    display: flex;
    background-color: teal  ;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.box {
    display: flex;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inhold {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

body {
    background-color: black;
    
}

img {
    width: 80%;
    height: auto;
    margin-top: 20%;
    border-radius: 10px;
}