body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

img {
    width: 60%;
    height: auto;
    justify-content: center;
    margin-left: 20%;
}

